*, :before, :after {box-sizing:border-box;}

:root {
  font-size:16px;
  --gutter: 1.5rem;
}
body {
  font-size: 100%;
}
@media (min-width: 480px) {
  body {
    font-size: calc(1em + 20 * (100vw - 480px) / 920);
  }
}
@media (min-width: 1400px) {
  body {
    font-size: 30px;
  }
}

body {
  margin:0;

  /*padding-left:var(--gutter);padding-right:var(--gutter);*/
  padding-top:calc(2 * var(--gutter) + 1em);padding-bottom:calc(2 * var(--gutter) + 1em);

  background:#eee;

  min-height:100vh;
  display:flex; flex-direction:column; justify-content:center; align-items:center;

  font-family: 'Roboto', sans-serif;
  text-align:center;
  line-height:1.3;
}

a {color:inherit;}

code, samp {font-family: 'Roboto Mono', monospace; font-size:85%; letter-spacing:-.05em;}

code {
  padding: .2em .4em;
  font-size: 85%;
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
}

svg.icon {
  width:1em; height:1em;
  fill:currentColor;
}

h1#masthead {
  margin-top:0;margin-bottom:0;
  position:absolute; right:0;top:0; margin:1em var(--gutter);
  font-size:100%;
}
#masthead a {text-decoration:inherit;}

.btn {
  display:inline-block; border:.1em solid;
  padding:.1em .5em;
  font-size:85%;
  border-radius:.1em;

  cursor:pointer;
}

.message {
  margin-top:0;margin-bottom:0;
  font-size:150%;
}

.hint {color:#aaa;}

label input[type="file"] {display:none;}

.bigicon {font-size:1000%;}

body.select [class*="step--"]:not(.step--select) {display:none;}
body.filter [class*="step--"]:not(.step--filter) {display:none;}
body.queued [class*="step--"]:not(.step--queued) {display:none;}
body.processing [class*="step--"]:not(.step--processing) {display:none;}
body.done [class*="step--"]:not(.step--done) {display:none;}
body.err [class*="step--"]:not(.step--err) {display:none;}

.cbx {display:inline-block; vertical-align:middle; margin-top:-.1em;}
.cbx [type="checkbox"] {display:none;}
.cbx [type="checkbox"] +div {
  width:1em;height:1em;
  border:.1em solid;
  margin-right:.25em;

  position:relative;
}
.cbx [type="checkbox"] +div:after {
  content:"";
  display:block;width:180%;height:180%;
  background:url("/tick.svg") center no-repeat; background-size:contain;
  position:absolute;left:50%;top:50%; transform:translate(-30%,-70%);

  opacity:0; pointer-events:none;

  transition:opacity .15s;
}
.cbx [type="checkbox"]:checked +div:after {opacity:1;}


input[type="checkbox"] ~ span {text-decoration:line-through;}
input[type="checkbox"]:checked ~ span {text-decoration:inherit;}

.toomuch {color:red;}

article {width:100%;}

.chapter h2 {font-size:100%;}

.chapter ul {list-style:none; padding-left:0;}

.chapter ul {text-align:left;}
.chapter li, .chapter li label {display:block;}
.chapter li label >.in {
  max-width:20em; margin:0 auto;
  padding-left:var(--gutter);padding-right:var(--gutter);
  overflow:hidden;text-overflow:ellipsis; white-space:nowrap;
}

input[type="checkbox"] {font-size:inherit;}

.chapter ul label:hover {cursor:pointer; background:rgba(255,255,255,.5);}

.btn.round.disabled {
  cursor:not-allowed; color:gray;
}

.round {
  position:fixed; right:0; bottom:0; margin:var(--gutter);
  font-size:150%;
  background:rgba(255,255,255,.97);
  text-decoration:none;
}